.pro-cat{
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 69, 197, 0.1);
    transition: 0.3s;
    width: 300px;
    margin-top: 50px;
;
}
.pro-cat:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 69, 197, 0.1);
}
.contactus-container h2{
    font-style: italic;
}