
.contactus-container input, .contactus-container textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-sizing: border-box;
}
.about-section h2{
    font-style: italic;
}