.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px ;
    max-width: 500px;
    margin: 20px  auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}
.form-container h2 {
    border-bottom: 1px solid #f7c16a;
    padding: 15px;
    font-style: italic;
    
}

.form-container input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    margin: 10px 0 ;
}
.form-container input:focus{
    border: 0.5px solid#f7c16a;
}
.form-container p {
    margin: 10px 0 ;
}
.form-container p a {
    color: #f7c16a;
    text-decoration: underline;
    display: inline-block;
}