.hero-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    gap: 20px;
}

.hero-title{
    padding: 40px;
    width: 50%;
}

.landing{
    width: 50%;
    text-align: center;
    height: 100vh;
    position: relative;

}
.landing img {
    width: 70%;
   text-align: center;
       position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: landing 5s linear infinite;
}
@keyframes landing {
    0%{
        transform: translate(-50%, -80%);
    }
    50%{
        transform: translate(-50%, -50%);
    }
    100%{
        transform: translate(-50%, -80%);
    }
}

 @media screen and (max-width: 768px) {
    .hero-parent{
        flex-direction: column-reverse;
    }
    .hero-title{
        width: 90%;
        text-align: center;
        padding: 20px;
    }
    .landing{
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
    .landing img {
        width: 100%;
        position: static;
        transform: none;
    }
    @keyframes landing {
    0%{
        transform: translate(0%, -10%);
    }
    50%{
        transform: translate(0%, -0%);
    }
    100%{
        transform: translate(0%, -10%);
    }
}
}