.product-card{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 16px;
    max-width: 300px;
    height: 400px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin: 20px auto;
}
.product-card:hover{
    box-shadow: 0px 1px 10px 7px #f7c16a;
    transform: translateY(-10px);

}
.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    display: -webkit-box;
   -webkit-line-clamp: 1; 
   line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.product-card p {
    color: #555;
    font-size: 0.9em;
    display: -webkit-box;
   -webkit-line-clamp: 2; 
   line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}   
.product-card .product-btn{
    border:0.5px solid #f7c16a !important;
    color: #0A2647;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 3px;
    transition:  0.5s;
    box-shadow: 0px 2px 5px #f7c16a;

}
.product-card .product-btn:hover{
    color: white;
    box-shadow: none;
}
.product-img-parent {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.product-img-parent .product-img{
    width:100%;
}